@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  height: 100%;
  width: 100%;
  background-color: #20252c;
  font-family: 'Poppins', sans-serif;
}

body::before {
  content: '';
  width: 300px;
  height: 300px;
  background: rgb(0 153 255/.2);
  position: absolute;
  top: 100px;
  left: -50px;
  z-index: -1;
  filter: blur(100px);
}

body::after {

}

main {
  color: #fff;
  min-height: 100vh;
}

.articulo, .formulario {
  max-width: 700px;
  margin: 0 auto;
}

h1 {
  font-size: 50px;
  text-align: center;
}

.video-youtube, .imagen {
  padding: 40px 0;
}

.video-youtube iframe {
  display: block;
  margin: 0 auto;
}

.imagen img{
  display: block;
  margin: 0 auto;
}

.referencia-link {
  color: rgb(216, 216, 216);
  font-weight: 600;
}

.referencia {
  margin-bottom: 100px;
}

.cabecera-navegacion {
  height: 60px;
}
.menu-navegacion {
  max-width: 800px;
  height: 100%;
  margin: 0 auto;
  color: #fff;
}
.menu-navegacion ul {
  height: 100%;
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
}
.logo-navegacion {
  margin-right: auto;
  font-size: 30px;
}
.link-navegacion {
  margin-left: 20px;
  cursor: pointer;
}

.logo-navegacion a {
  color: #fff;
  text-decoration: none;
}
.link-navegacion a {
  color: #fff;
  text-decoration: none;
}

.link-boton{
  background-color: #fff;
  padding: 8px 15px;
  border-radius: 20px;
  border: none;
  font-weight: 600;
  color: #454545;
  cursor: pointer;
}
.link-boton:hover {
  background-color: rgb(12, 151, 226);
  color: #fff;
}
.link-boton:active {
  background-color: gray;
}
.link-boton:focus {
  background-color: red;
}

.formulario {
  height: calc(100vh - 60px);
  display: flex;
  align-items: center;
}

.formulario form {
  border: 2px solid #fff;
  padding: 40px;
  border-radius: 20px;
  width: 100%;
}

.form-control input, textarea{
  width: 100%;
  border: none;
  outline: none;
  padding: 5px 15px;
  margin-bottom: 15px;
  border-radius: 8px;
}

.form-control input {
  height: 30px;
}

.form-control label {
  margin-bottom: 6px;
}

.form-botones button{
  display: block;
  border: none;
  outline: none;
  color: #20252c;
  background-color: #fff;
  padding: 8px 15px;
  border-radius: 20px;
  font-weight: 600;
  margin-left: auto;
  cursor: pointer;
}

.form-botones button:hover {
  background-color: rgb(12, 151, 226);
  color: #fff;
}

#boton-whatsapp {
  position: fixed;
  width: 100px;
  height: 40px;
  bottom: 20px;
  right: 20px;
  background-color: rgb(22, 208, 22);
  border-radius: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.icono {
  position: absolute;
  min-height: 20px;
  min-width: 20px;
  right: -10px;
  top: -10px;
  border-radius: 20px;
  background-color: #fff;
}

.volver {
  height: 50px;
  width: 700px;
  background-color: #fff;
  border-radius: 10px;
  position: sticky;
  top: 0;
  left: 50px;
  color: #20252c;
}